################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCharts/obj
/NetCharts/bin
.vs
obj
Debug
/NetCharts.Test/bin/Release/netcoreapp3.1
