################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCharts/obj
/NetCharts/bin
.vs
obj
Debug